# Full URI for remote MongoDB (e.g., Atlas), leave empty to use local instance
MONGO_URI=""

# Local mongo container with exposed port (internal is 27017)
MONGO_HOST=mongo
MONGO_PORT=27017

# MongoDB Authentication (Used for both local and external MongoDB)
MONGO_USERNAME=admin
MONGO_PASSWORD=password

# Database & Collection Config
MONGO_DB=testdb
MONGO_COLLECTION=testcol
MONGO_BATCHSIZE=10000

# Data Generation Settings
TOTAL_DOCS=1000000

# Auto-detect CPU cores or set manually
NUM_WORKERS=auto

# Tmux Session Sleep Before Auto Exit
TMUX_EXIT_SLEEP=15
